body {
  background-image: url("images/background.jpg");
}

div {
  width: 60%;
  margin: auto;
  background-color: gray;
  text-align: center;
}

#header {
  margin-top: 40px;
  height: 100px;
}

#mainframe {
  margin-top: 20px;
  height: 400px;
}

#footer {
  margin-top: 20px;
  height: 100px;
  text-align: center;
}

#activeframe {
  background-color: black;
  width: 342px;
  height: 342px;
  border-style: solid;
  border-color: black;
  border-width: 6px;
  border-radius: 12px;
  position: relative;
    top: 23px;
}

h4 {
  position: relative;
    top: 10px;
  margin: 5px;
}

p {
  text-align: center;
  padding: 10px;
}

/*button {
  display: inline-block;
  margin: 0 auto;
}*/

#records {
  position: relative;
    left: 10%;
    top: 45%;
  float: left;
}

#start {
  position: relative;
   top: 45%;
   left: -2%;
}

#login {
  position: relative;
   top: 45%;
   left: 22%;
}

.boardcells {
  float: left;
  width: 110px;
  height: 110px;
  position: relative;
  border-color: black;
  border-style: solid;
  border-radius: 12px;
  border-width: 3px;
}

#cellA {
  border-top: 0px;
  border-left: 0px;
}

#cellB {
  border-top: 0px;
}

#cellC {
  border-top: 0px;
  border-right: 0px;
}

#cellD {
  border-left: 0px;
}

#cellE {

}

#cellF {
  border-right: 0px;
}

#cellG {
  border-left: 0px;
  border-bottom: 0px;
}

#cellH {
  border-bottom: 0px;
}

#cellI {
  border-bottom: 0px;
  border-right: 0px;
}
