/*body {
  background-image: url("images/background.jpg");
}*/

.lowerdivs {
  width: 60%;
  margin: auto;
  background-color: #9EA3A8;
  text-align: center;
  border-radius: 12px;
}

#header {
  margin-top: 40px;
  height: 100px;
}

#mainframe {
  margin-top: 20px;
  height: 400px;
  overflow-y: hidden;
}

/*#footer {
  margin-top: 20px;
  height: 100px;
  text-align: center;
}*/


.activeframe {
  margin-top: 4%;
  /*float: left;*/
  -webkit-transition: top 1s ease;
  transition: top 1s ease;
  background-color: #9EA3A8;
  width: 342px;
  height: 342px;
  border-style: solid;
  border-color: black;
  border-width: 6px;
  border-radius: 12px;
  /*position: relative;
    top: 23px;*/
}

#scorex {
  float: left;
  text-align: center;
  position: relative;
    left: 5%;
    top: 5%;
}


#scoreo {
  float: right;
  text-align: center;
  position: relative;
    right: 5%;
    bottom: 350px;
}

#playerTwo {
  position: relative;
    top: 10px;
}

#play {
  position: relative;
    left: 40px;
    top: 20px;
}

.playersnames-shown {
  padding: 20px;
  opacity: 1;
  visibility:visible;
}

.activeframe-down {
  top: 103px;
}

h4 {
  position: relative;
    top: 10px;
  margin: 5px;
}

p {
  text-align: center;
  padding: 10px;
}

#records {
  position: relative;
    left: 10%;
    top: 45%;
  float: left;
}

#start {
  position: relative;
   top: 45%;
   left: -2%;
}

#login {
  position: relative;
   top: 45%;
   left: 22%;
}

.boardcells {
  float: left;
  width: 110px;
  height: 110px;
  position: relative;
  border-color: black;
  border-style: solid;
  border-radius: 12px;
  border-width: 3px;
  font-size: 400%;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

#cell0 {
  border-top: 0px;
  border-left: 0px;
}

#cell1 {
  border-top: 0px;
}

#cell2 {
  border-top: 0px;
  border-right: 0px;
}

#cell3 {
  border-left: 0px;
}

#cell4 {

}

#cell5 {
  border-right: 0px;
}

#cell6 {
  border-left: 0px;
  border-bottom: 0px;
}

#cell7 {
  border-bottom: 0px;
}

#cell8 {
  border-bottom: 0px;
  border-right: 0px;
}

.hovereffect:hover {
  background-color: #66CCFF;
}
