body {
  background-image: url("images/background.jpg");
}

div {
  width: 60%;
  margin: auto;
  background-color: gray;
}

#header {
  margin-top: 40px;
  height: 100px;
}

#mainframe {
  margin-top: 20px;
  height: 400px;
}

#footer {
  margin-top: 20px;
  height: 100px;
}

#activeframe {
  background-color: teal;
  width: 36%;
  height: 340px;
  position: relative;
    top: 30px;
}
